* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x:hidden;
}

.backgroundVideo {
    z-index: -10;
}

.header-name {
    font-size: 7rem;
    letter-spacing: 15px;
}

.header-padding {
    padding-top: 250px;
    height: 80vh;
}

.skill-illustration {
    width: 70px;
}

.qualifications-card {
    width: 180px;
    height: 270px;
    text-align: center;
}

.serif-heading {
    font-family: 'Noto Serif', serif;
    font-style: italic;
}

.company-logos {
    width: 200px;
    opacity: 0.4;
    margin-right: 80px;
}

.navbar-active {
    background-color: white;
    z-index: 9999;
}

.navbar-active a {
    color: black !important;
}

@media screen and (max-width: 1600px) {
    .backgroundVideo {
        width: 1600px !important;
    }
}

@media screen and (max-width: 800px) {
    .header-name {
        text-align: center;
        font-size: 4rem;
    }

    .backgroundVideo {
        width: 1900px !important;
    }
}